@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=IM+Fell+English+SC&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Rashi+Hebrew:wght@100..900&family=Noto+Sans+Georgian:wght@100..900&family=Noto+Serif+Georgian:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=IM+Fell+English+SC&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Rashi+Hebrew:wght@100..900&family=Noto+Sans+Georgian:wght@100..900&family=Noto+Serif+Georgian:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center, space-between;
    flex-direction: row;
}

.container {
    display: flex;
    justify-content: center , space-around;
    flex-direction: row;
    align-items: center;
}

.home {
    font-weight: 700px;
    color: #006856;
    font-size: 16px;
    line-height: 24px;
    font-family: 'inter', sans-serif;
    margin-left: 40px;
}

.animals {
    font-weight: 600px;
    color: #3d4945;
    font-size: 13px;
    height: 18px;
    font-family: 'plus jakarta sans', sans-serif;
    margin-left: 24px;
}

.logo {
    gap: 48px;
    height: 24px;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
}

.navitems {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-direction: row;
    justify-content: center;
}

.report-btn {
    width: 137px;
    height: 40px;
    border-radius: 9999px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: #006856;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600px;
    line-height: 18px;
    letter-spacing: 0px;
    font-family: 'plus jakarta sans', sans-serif;
    margin-right: 16px;
    
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-right: 32px;
    margin-left: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;

    h1 {
        font-family: 'plus jakarta sans', sans-serif;
        color: #121c2a;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.45px;
    }
}

.foot {
    font-size: 12px;
    font-weight: 700;
    font-style: bold;
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.home2 {
    margin-top: 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #006856;
}

.animals2 {
    font-size: 16px;
    line-height: 14px;
    font-weight: 700;
    color: #3d4945;
}

.lastp {
    font-weight: 400;
    font-size: 15px;
    margin-left: 15px;
    height: 18px;
    color: #3d4945;
    font-family: 'inter , sans-serif';
}


section {
    background-color: #F8F9FF;
    height: 842px;
    padding: 0px 32px 0px 32px;
    display: flex;
    flex-direction: column;

}

.hiw {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.process {
    background-color: #E6EEFF;
    text-align: center;
    width: 112px;
    height: 22px;
    border-radius: 50px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 12px;
    color: #006856;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.44px;
    margin-top: 84px;
}

.hiw h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 32px;
    color: #121C2A;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.64px;
    margin-top: 8px;
}

.hiw span {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #121C2A;
    font-weight: 400;
    line-height: 20px;
    margin-top: 8px;
}

.hiwc {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 64px;
}

.hcard {
    background-color: white;
    width: 384px;
    height: 268px;
    border-radius: 16px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.numb {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    background-color: #006856;
    box-shadow:
        0px 2px 4px -2px rgba(0, 0, 0, 0.1),
        0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    ;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hcardtext h3 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #121C2A;
    font-weight: 600;
    line-height: 26px;
    font-size: 18px;
    margin-top: 24px;
}

.hcardtext p {
    font-family: 'Inter', sans-serif;
    color: #3D4945;
    font-weight: 400;
    line-height: 22px;
    font-size: 14px;
    margin-top: 12px;
}

.rescue {
    background: linear-gradient(to right, #006856, #00846D, #006856);
    width: 1216px;
    height: 182px;
    margin-left: 300px;
    margin-top: 64px;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.resctext {
    width: 550px;
    height: 86px;
}

.resctext h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 32px;
    letter-spacing: -0.24px;
}

.resctext p {
    font-family: 'inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #F4FFF9;
    line-height: 22px;
    margin-top: 6px;
    overflow: hidden;
}

.rescue button {
    padding: 0px 24px 0px 24px;
    gap: 8px;
    width: 188px;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.1),
        0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-family: 'plus jakarta sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #006856;
    line-height: 18px;
    letter-spacing: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}