
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
}

.hero{
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    max-height: 640px;
    padding-left: 40px;
    padding-top: 40px;
}

.title{
    font-size:40px;
    font-weight: 800;
    font-style: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #121C2A;
}

.title1{
    font-size: 40px;
    font-weight: 800;
    font-style: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #006856;
}

.discription{
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #3D4945;
    margin-top: 32px;
    width: 575px;
    height: 78px;

}

.btns{
    display: flex;
    gap: 12px;
    margin-top: 32px;
}


.btn1{
    display: flex;
    background-color: #006856;
    color: white;
    border: none;
    padding: 10px 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 12px;
}

.btn2{
    display: flex;
    background-color: #EFF4FF;
    color: #121C2A;
    border: none;
    padding: 10px 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 12px;
}


.btns button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.btns button img {
    width: 18px;
    height: 18px
}

.btn1, .btn2 {
    padding: 14px 24px;
}
.stats{
    display: flex;
    gap: 40px;
    margin-top: 90px;
}

.stat-number{
    font-size: 32px;
    font-weight: 700;
    font-style: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #121C2A;
}

.response-time{
    font-size: 32px;
    font-weight: 700;
    font-style: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #006856;
}

.location{
    font-size: 32px;
    font-weight: 700;
    font-style: bold;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #87520B;
}


.desc{
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #3D4945;
    margin-top: 4px;
}


.image{
    position: absolute;
    right: 65px;
    top: 35px;
    width: 478px;
    height: 480px;
}


.image img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}