@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=IM+Fell+English+SC&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Rashi+Hebrew:wght@100..900&family=Noto+Sans+Georgian:wght@100..900&family=Noto+Serif+Georgian:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  margin: 20px 40px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.home {
  font-weight: 700px;
  color: #006856;
  size: 16px;
  height: 20px;
  margin-top: -10px;
}
.animals {
  font-weight: 700px;
  color: #3d4945;
  size: 16px;
  height: 24px;
  margin-top: 5px;
}
.logo {
  gap: 48px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.navitems {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: 30px;
  height: 24px;
}

.report-btn {
  width: 137px;
  height: 40px;
  border-radius: 9999px;
  padding-right: 24px;
  padding-left: 24px;
  background-color: #006856;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600px;
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 8px;
  margin-top: 5px;
}
footer {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;

  h1 {
    color: #121c2a;
    font-weight: 600;
    size: 18px;
    line-height: 26px;
    letter-spacing: -0.45px;
  }
}
.foot {
  font-size: 12px;
  font-weight: 700;
  font-style: bold;
}

ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.home2 {
  margin-top: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #006856;
}

.animals2 {
  font-size: 16px;
  line-height: 14px;
  font-weight: 700;
  color: #3d4945;
}

.lastp {
  font-weight: 400;
  font-size: 15px;
  margin-left: 15px;
  height: 18px;
  color: #3d4945;
}
